{% extends 'base.html' %}

{% block title %}Inicio APP{% endblock %}

{% block content %}
<h1>Bienvenido a mi proyecto.</h1>

<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio culpa, doloremque blanditiis perferendis ipsa labore est velit incidunt fugiat totam illo! Suscipit itaque accusamus labore pariatur provident, modi doloribus aliquid.
    Dolorum accusantium reprehenderit ad itaque, expedita doloribus libero aliquam totam, cum officia aliquid inventore commodi repudiandae eaque, enim cupiditate corporis id laudantium excepturi facere. Commodi culpa recusandae blanditiis enim quia.
    Libero exercitationem dignissimos officiis ut nam cupiditate placeat omnis incidunt accusamus, assumenda, expedita a. Ab, laboriosam totam. Voluptas quisquam ipsam nostrum, magni iure voluptatibus mollitia laborum neque facere officiis delectus.
    Adipisci doloremque ea ab impedit facere soluta hic, voluptatem, id, perspiciatis voluptas unde! Ab ad in odit, atque rem totam voluptates quae. Laborum expedita molestias, vitae amet modi corrupti soluta?
    Sit commodi dolore delectus voluptatum accusantium dolores blanditiis nulla vero totam, dolorem deserunt officia dolor saepe rem odio aut illum laborum maxime aperiam quisquam temporibus quas culpa. Impedit, nostrum incidunt.
    Eos cum accusamus deserunt deleniti, hic perferendis rerum? Neque tempore soluta rem sit officiis dolores quos asperiores necessitatibus modi, doloribus culpa et aut est labore consectetur dignissimos? Blanditiis, quas ea?
    Beatae consequatur nam eos maxime tempora nobis cum veritatis, dolorem recusandae saepe sed, eius deserunt dicta illum quos? Fuga, perspiciatis. Corrupti, ratione. Dolorum, voluptas repellendus magni dolore optio accusantium ullam!
    Aliquid quibusdam eligendi, deleniti accusantium hic corporis facilis modi voluptate natus autem quasi aliquam dolorum debitis. Reprehenderit, nobis doloremque. Maxime dolor qui praesentium mollitia, at exercitationem iusto labore veritatis iure?
    Illum, expedita culpa? Vero, error consequatur? Magni explicabo repudiandae mollitia neque veritatis totam natus ex optio ipsa asperiores reprehenderit quidem molestias debitis deleniti facere consequuntur, impedit necessitatibus quia consequatur ipsum.
    Fugiat enim assumenda optio expedita facere iste, mollitia sed reiciendis unde vel accusantium ratione repellendus iure aperiam commodi accusamus voluptas repellat. Expedita consequatur nisi numquam corrupti. Nisi ad quo veniam.

</p>
{% endblock %} 