<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Mi Proyecto{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'inicio:iniciov1' %}">Inicio</a></li>
            </ul>
        </nav>
    </header>
    </nav>
    <main></main>
        <!-- Contenido específico de cada página -->
        {% block content %}
        
        {% endblock %}
    </main>

    <!-- Pie de página -->
    <footer>
        <p>&copy; 2023 Mi Proyecto</p>
    </footer>
</body>
</html>